* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.face__eye__right--blink {
  fill: #f00;
}

.face__eye--right {
  fill: #ff0;
}
  
.face__mouth {
  fill: #f00 !important;
}

/* .face__hair--back */
/* .face__ear */
/* .face__ear--right */
/* .face__ear--left */
/* .face__contour */
/* .face__hair--fringe */
/* .face__mouth */
/* .face__freckles */
/* .face__freckles--right */
/* .face__freckles--left */
/* .face__eye */
/* .face__eye__right--blink */
/* .face__eye__left--blink */
