@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--bg-primary: 0, 0, 255;
		--bg-secondary: 255, 0, 0;
		--bg-tertiary: 238, 238, 238;

		--text-primary: 0, 0, 0;
		--text-secondary: 56, 63, 74;
		--text-tertiary: 255, 255, 255;
	}
	[data-theme='dark'] {
		--bg-primary: 0, 255, 0;
	}
	[data-theme='night'] {
		--bg-primary: 255, 0, 255;
	}
}
